<article>
    <img class="product-image" src="<%= product.imagePath %>" alt="<%= product.title %>">
    <div class="product-data">
        <div class="product-meta">
            <h3 class="title"><%= product.title %></h3>
            <p class="price"><%= INR.format(product.price) %></p>
        </div>
        <div class="product-action">
            <a class="btn btn-light" href="/products/<%= product._id %>">View</a>
            <% if(locals.userStatus && locals.userStatus.isAdmin) { %>
                <a class="btn btn-light" href="/admin/products/<%= product._id %>/edit">Edit</a>
                <form class="delete-btn delete-product-btn" data-productid="<%= product._id %>" data-csrftoken="<%= locals.csrfToken %>">
                    <button class="btn btn-alt-light">Delete</button>
                </form>
            <% } %>
        </div>
    </div>
</article>