<%- include("includes/head", { title: "Set New Password!" }) %>

<link rel="stylesheet" href="/public/static/essential/assets/styles/forms.css">
<link rel="stylesheet" href="/public/static/essential/assets/styles/responsive/forms.responsive.css">

<script src="/public/static/essential/assets/js/ajax/message.js" defer></script>
<script src="/public/static/essential/assets/js/ajax/sendVerifyCode.js" defer></script>
</head>
<body>
    <%- include("includes/header", { page: "login" }) %>
    <main>
        <%- include("includes/message") %>
        <h1>Update your Password</h1>
        <form class="form" action="/login/password/set" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <% if(inputData.hasError) { %>
                <div class="form-control">
                    <p class="error"><%= inputData.message %></p>
                </div>
            <% } %>
            <div class="form-control">
                <label for="code">Verification Code</label>
                <input type="text" id="code" name="code" value="<%= inputData.code %>" required />
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" value="<%= inputData.password %>" required />
            </div>
            <div class="form-control">
                <label for="confirm-password">Confirm Password</label>
                <input type="password" id="confirm-password" name="confirm-password" value="<%= inputData["confirm-password"] %>" required />
            </div>
            <button class="btn">Verify & Reset Password</button>
            <p>Haven't recieve code? 
                <button id="send-code-btn" type="button" style="color: rgb(5, 5, 132);" class="link" data-csrftoken="<%= csrfToken %>">
                    Send Again!
                </button>
            </p>
            <p id="code-sending" style="display: none;">Code sending...</p>
        </form>
    </main>
</body>
</html>